body {
    background-color: #1e1e1e;
}

td,th{
    background-color: transparent !important;
}
/* Manipulate Contents */
#gs{
    display: block;
}
#hr,#med,#fix,#slash,#ex,#dm,#v{
    display: none;
}

.pick {
    background-color: orange;
    border-radius: 10px;
}